/* common css */
.no-padding {padding: 0;}
.center { margin:0 auto !important; }
.fontw-bold {font-weight: bold;}
/* color */
.text-red {color: #c90000;}
.text-white{ color: #fff; }
.text-black{ color: #000; }
.text-yellow{ color: #f8d053; }
.text-gray{ color: #ccc; };
.pull-right{float: right !important; }

.title{
	height: 50px;
	background: #000000;
	overflow: hidden;
	position: relative;
}

h2.title-name{
	font-family: arial;
	font-weight: bold;
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	padding: 14px 20px;
	margin: 0 auto;
}

ul.title-type{
	position: absolute;
	right: 20px;
	top: 14px;
}

ul.title-type li{
	list-style: none;
	float: left;
	border-right: 2px solid #fff;
}

ul.title-type li:last-child{
	border-right: none;
}

ul.title-type li a{
	font-family: arial;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	padding: 0px 10px;
	display: block;
	text-decoration: none;
}

ul.title-option{
	display: inline-block;
	color: #7b7b7b;
	position: absolute;
	top: 10px;
	left: 150px;
}

ul.title-option .form-control{
	height: 30px;
}

ul.title-option .search-option{
	float: left;
	padding: 0px 5px;
	color: #fff
}

ul.title-option .search-option select{
	background-color: #000000;
	border: 1px solid #7b7b7b;
	border-radius: 4px;
	color: #707070;
	text-transform: capitalize;
	padding: 3px 10px;
}

ul.title-option .search{
	/*position: absolute;*/
}

ul.title-option .search input{
	background-color: #000000;
	border: 1px solid #7b7b7b;
	border-radius: 4px;
	color: #707070;
	text-transform: capitalize;
	padding: 3px 10px;
}

ul.title-option .search i{
	position: absolute;
	right: 20px;
	top: 6px;
	font-size: 18px;
	color: #2c9ccf;
}

.content{
	padding: 20px;
	background: #24282c;
	overflow: hidden;
}

h4.news-title{
	margin-top: 0px;
	font-weight: bold;
	font-size: 18px;
	color: white;
	cursor: pointer;
}
p.news-preview{
	margin-top: 0px;
	font-size: 15px;
	color: #898989;
}
h5.news-time{
	font-size: 14px;
	font-style: italic;
	color: #f4d063;
}

ul.pagination{
	margin-bottom: 0;
	padding-left: 0;
	background: #24282c;
}

ul.pagination li{
	padding: 0px 5px;
}

ul.pagination li a{
	color: #e3e3e3;
	font-size: 16px;
	font-family: Arial;
	cursor: pointer;
	background: none;
	border: none;
	padding: 5px 12px;
	border-radius: 50%;
}

ul.pagination li.active a{
	background: #2d9ccf;
}

ul.pagination li i{
	color: #2d9ccf;
}

ul.pagination li:hover a{
	background-color: #232330;
	color: #2d9ccf;
}
.pagination>.active>a:focus a{
	background-color: #232330;
	color: #2d9ccf;
}

.seemore{
	padding: 25px 0px 0px;
	color: #fffefe;
	font-size: 15px;
	cursor: pointer;
}

.seemore:hover{
	color: #2b9cce;
}

.seemore img{
	padding-right: 5px;
	width: 24px;
}

span.time.live{
	font-family: Arial;
	font-size: 12px;
	color: #7ff91a;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	z-index: 2;
}

span.time.time-ago{
	font-family: Arial;
	font-size: 12px;
	color: #ffcc33;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	z-index: 2;

}

span.time.time-date{
	font-family: Arial;
	font-size: 12px;
	color: #999999;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	z-index: 2;

}

span.team-name{
	font-family: Arial;
	font-size: 14px;
	color: #cccccc;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	z-index: 2;

}

.seemore-match{
	cursor: pointer;
}

@font-face {font-family:"airstrike condensed";
src: url('../fonts/airstrikecond.woff');
/*src:url("airstrikecond.eot?") format("eot"),url("airstrikecond.woff") format("woff"),url("airstrikecond.ttf") format("truetype"),url("airstrikecond.svg#airstrikecondensed") format("svg");font-weight:normal;font-style:normal;*/
}

@font-face {font-family:"MyriadPro";
src: url('../fonts/MyriadPro-Bold.woff');
}


/*common =========================== */
header{
	background: url(../images/bg/bg-head.png);
/*	background: #141617; 
	background: -webkit-linear-gradient(left,#040507,#222426,#0c1013);
	background: -o-linear-gradient(left,#040507,#222426,#0c1013);
	background: -moz-linear-gradient(left,#040507,#222426,#0c1013);
	background: linear-gradient(to right, #040507,#222426,#0c1013); */
	height: 120px;
}
.wrapper-head, #main, #wrapper-footer, #wrapper-copyright{
	max-width: 1640px;
	margin: 0 auto;
}
body{
	background: url(../images/bg/background.jpg) no-repeat;
	/*background-size: 100% 100%;*/
	/*background-position: center;*/
	background-size: cover;
}

/*header*/
header #logo{
	/*width: 190px;*/
	display: inline-block; 
	float: left;
}
header #logo img{
	height: 100%;
}
header .header-content{
	max-width: 1640px;
	margin: 0 auto;
	height: 80px;
}
/*header-top*/
#header-top{
	height: 75px;
	width: 100%;
	max-width: 1640px;
	margin: 0 auto;
}

#header-top ul{
	margin-top: 35px;
	margin-right: 0px;
}

#header-top ul li{
	padding: 0px 10px;
}

#header-top ul li:last-child{
	padding-right: 0px;
}
#header-top ul li.social{
	padding: 0px;
	margin: 0px;
}
#header-top ul li a{
	color: #ffffff;
	font-size: 25px;
	padding: 0 10px;
	margin: 0;
}

#header-top ul li.social a:hover{
	background: none;
	color: #2c9ccf;
}

#header-top .search-bar .glyphicon{
	position: absolute;
	z-index: 2;
	left: 20px;
	font-size: 13px;
	width: 20px;
	margin-left: -2.5px;
	text-align: center;
	padding: 10px 0;
	top: -4px;
	color: white;
}

#header-top .search-bar input{
	font-family: arial;
	font-size: 14px;
	height: 25px;
	padding: 10px 16px 10px 30px;
	border: 1px solid #2c9ccf;
	border-radius: 0px;
	background-color: #282828;
	color: white;
}

#header-top ul li button{
	font-family: arial;
	color: white;
	height: 25px;
	font-size: 14px;
	font-weight: bold;
	border: none;
	width: 110px;
	outline: none;
}

#header-top ul li button.register{
	background-color: #30303c;
}

#header-top ul li button.login{
	background-color: #2c9ccf;
}

/*header-bot*/
#header-bot{
	height: 45px;
	background-color: #22232b;
}
#header-bot .header-bot-content{
	max-width: 1640px;
	margin: 0 auto;
	height: 45px;
}
#header-bot .nav-menu{
	height: 45px;
	padding: 0;
	margin: 0;
}
#bs-example-navbar-collapse-1{
	height: 45px !important;
}
ul.menu-items{
	width: 100%;
}
li.menu-item{
	font-family: Arial;
	font-size: 17px;
	font-weight: bold;
	background: none;
	padding-top: 5px;
}
li.menu-item a{
	color: white;
	padding:0px 10px;
	text-transform: uppercase;
}
li.menu-item.active a{
	color: #2c9ccf;
}
li.menu-item a:hover, li.menu-item a:focus{
	background: none;
	color: #2c9ccf;
}

li.menu-item.pull-right .navbar-toggle{
	color: red;
}

ul.game-menu{
	right: 0px;
}
ul.game-menu li.game-menu-item{
	float: left;
	list-style: none;
}

ul.game-menu li.game-menu-item a{
	color: #fff;
	text-transform: capitalize;
	border-right: 2px solid #2c9ccf;
}
ul.game-menu li.game-menu-item:last-child a{
	padding-right: 0px;
	border: none;
}
ul.game-menu li.game-menu-item a:hover{
	text-decoration: none;
	color: #2c9ccf;
}

button.dropbtn{
	display: none;
	background: #2c9ccf;
	border: none;
	color: white;
}

button.dropbtn .bar1,button.dropbtn .bar2,button.dropbtn .bar3{
	width: 25px;
	height: 3px;
	background-color: #333;
	margin: 4px 0px;
	transition: 0.4s;
}

/*main*/
#main{
	margin-top: 20px;
}

/*match =========================================================================================================*/
#match{
	margin-bottom: 20px;
}

#match .match-content{
	overflow: hidden;
	padding: 17.5px 10px 14px;
	background: #283842;
	margin-bottom: 2px;
}

#match .match-content .game img{
	max-width: 20px;
}

#match .match-content .team{
	text-align: center;
}

#match .match-content .team img{
	max-width: 30px;
}

#match .match-content .team-1 img{
	float: right;
}

#match .match-content .team-2 img{
	float: left;
}

#match .match-content .vs{
	text-align: center;
}

#match .match-content .seemore-match{
	text-align: right;
}

/*upcoming =========================================================================================================*/
#upcoming{
	margin-bottom: 20px;
}
#upcoming .content{
	padding: 50px 10px 30px;
	background: #180f0f; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#180f0f, #980808); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#180f0f, #980808); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#180f0f, #980808); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#180f0f, #980808); /* Standard syntax */
	/*opacity: 0.8;*/
	background: url(../images/bg/bg-upcoming.jpg) no-repeat;
	background-size: 100% 100%;
}

#upcoming .upcoming-info{
	width: 28%;	
	padding: 30px 0px 10px;
	float: left;
}

#upcoming .upcoming-info h4{
	color: white;
	font-size: 20px;
	font-family: 'Airstrike Condensed';
}

#upcoming .upcoming-time{
	color: #f4d063;
	font-weight: bold;
	font-size: 15px;
	padding: 15px 5px;
	text-align: center;
	border: 2px solid #013148;
	border-radius: 7px;
	background: #013d59; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, #01354d , #011c29); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #01354d, #011c29); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #01354d, #011c29); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #01354d , #011c29); /* Standard syntax */
	background: rgba(0, 0, 0, 0.5);
}

#upcoming .upcoming-video{
	width: 70%;
	padding: 10px;
	float: right;
	cursor: pointer;
	background: url(../images/bg/bg-upcoming-video.png) no-repeat;
	background-size: 100% 100%;
}

#upcoming .upcoming-video img{
	width: 100%;
}

/*==================================================================================================================================*/
#plays{
	margin-bottom: 20px;
}
#plays .content-item-img{
	width: 30%;
	float: left;
	cursor: pointer;
}
#plays .content-item-img img{
	width: 100%;
}
#plays .content-item-news{
	width: 70%;
	float: left;
	padding-left: 10px;
}
#plays .content-item{
	padding: 10px 0px;
	border-bottom: 1px solid #36364a;
	float: left;
}

#plays .content-item:first-child{
	padding-top: 0px;
}

#plays .content-item:last-child{
	border-bottom: none;
	padding-bottom: 0px;
}

#plays .news-title{
	padding-top: 4px;
}
#plays .news-time{
	color: #898989;
}

/*footer=======================================================================================================================*/
footer{
	background: url(../images/bg/bg-footer.png) no-repeat;
	background-color: black;
	padding: 30px;
	overflow: hidden;
	color: #717171;
}

footer .logo{
	text-align: center;
	width: 16%;
	margin-left: 42%;
}

footer .logo img{
	width: 100%;
}

footer .info{
	padding-top: 5px;
}

footer .info .info-detail{
	height: 45px;
	line-height: 45px;
}

footer .social i{
	font-size: 22px;
	color: #2c9ccf;
	padding: 0px 10px;
	background: -webkit-linear-gradient(#1affff, #0697ce);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


/*responsive=======================================================================================================================*/
@media screen and (max-width: 1522px) {
	li.menu-item{
		font-size: 15px;
	}
}

@media screen and (max-width: 1480px) {
	ul.title-option{
		left: 120px;
	}
}

@media screen and (max-width: 1450px) {
	li.menu-item{
		font-size: 14px;
	}
	footer .info .info-detail{
		width: 60%;
		margin-left: 20%;
	}
	ul.title-option{
		left: 100px;
	}
}


@media screen and (max-width: 1390px) {
	.container,.wrapper-head,#main,#wrapper-footer,#wrapper-copyright {
		max-width: 1170px;
		margin: 0 auto
	}
	#main{
		margin-top: 20px;
	}
	.navbar-header button.dropbtn{
		display: none;
	}
	button.dropbtn{
		display: block;
	}
	li.menu-item{}
	li.menu-item button.dropbtn{
		cursor: pointer;
		display: block;
		margin-top: -4px;
	}
	li.menu-item .dropdown{
		position: relative;
		display: inline-block;
	}
	li.menu-item .dropdown-content{
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
		padding: 0px;
	}
	li.menu-item .dropdown-content li{
		width: 100%;
	}
	li.menu-item .dropdown-content a{
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}

	ul.game-menu li.game-menu-item a{
		color: #2c9ccf;
		border: none;
	}
	li.menu-item .dropdown-content a:hover{
		background-color: #d2cecd;
		color: white;
	}
	.dropdown:hover .dropdown-content{
		display: block;
	}
	.dropdown:hover button.dropbtn{
		background: #1b1b25;
		color: white;
	}
	h4.news-title{
		font-size: 17px;
	}
	ul.title-option {
		position: inherit;
		background: #000000;
		padding: 0px 0px 10px;
		width: 100%;
	}
	ul.title-option .search-option{
		float: right;
	}
	ul.title-option .search-option.search{
		position: relative;
	}
}

@media screen and (max-width: 1230px) {
	footer .info .info-detail{
		width: 70%;
		margin-left: 15%;
	}
	footer .logo{
		width: 20%;
		margin-left: 40%;
	}
	h4.news-title{
		font-size: 16px;
	}
	p.news-preview{
		font-size: 14px;
	}
}

@media screen and (max-width: 1200px) {
	#main-left{
		padding-right: 0px;
	}
	#main-right{
		padding-left: 0px;
	}
}

@media screen and (max-width: 1060px) {
	footer .info .info-detail{
		width: 80%;
		margin-left: 10%;
	}
	footer .logo{
		width: 28%;
		margin-left: 36%;
	}
}

@media screen and (max-width: 992px) {

	footer .logo{
		width: 30%;
		margin-left: 35%;
	}
	footer .info .copy-right, footer .info .social{
		width: 100%;
		text-align: center;
	}
}

@media screen and (max-width: 767px) {
	.navbar-header button.dropbtn{
		display: block;
	}
	header .header-content{
		height: auto;
	}
	header #logo{
		width: 100%;
		text-align: center;
		clear: both;
	}
	header .header-menu{
		width: 100%;
		float: left;
		padding:0px 20px;
	}
	#header-top{
		height: auto;
		clear: both;
	}

	#header-top ul{
		text-align: center;
		margin: 0px;
		clear: both;
	}
	#header-top ul li{
		float: left;
	}
	#header-top ul li.social{
		width: 8%;
	}
	#header-top .search-bar .glyphicon{
		left: calc(78% + 20px);
	}

	#header-top .form-group{
		margin-bottom: 12px;
	}

	#header-bot{
		height: auto;
		text-align: center;
	}
	ul.menu-items{
		z-index: 20;
		display: block;
		width: 100%;
		margin: 0;
		position: absolute;
		background-color: #1b1b25
	}
	#header-bot .navbar-header{
		text-align: center;
	}
	#header-bot .nav-menu{
		height: auto;
	}
	#header-bot button.dropbtn{
		padding: 7px 10px;
		margin-top: 2px;
		margin-bottom: 4px;
		left: calc(-50% + 45px);
	}
	li.menu-item button.dropbtn{
		display: none;
	}
	li.menu-item .dropdown-content{
		display: block;
		position: relative;
	}
	#bs-example-navbar-collapse-1{
		border: none;
	}
}

@media screen and (max-width: 720px) {
	#header-top ul li button{
		width: 95px;
	}
}

@media screen and (max-width: 680px) {
	#header-top ul li.register-login{
		width: 50%;
		padding: 10px 0px;
	}
	#header-top ul{
		padding-left: 12%;
	}
}

@media screen and (max-width: 470px) {

}