#main{
	overflow: hidden;
	margin-top: 60px;
	padding: 55px 10px;
	min-height: 700px;
}
#main .title {
	width: 205px;
	position: absolute;
	left: calc(50% - 102.5px);
	margin-top: -80px;
}

#main-left{
	padding-right: 20px;
}

#main-right{
	padding-left: 20px;
}

#main-right form label.form-title{
	text-align: left;
	color: #ffffff;
	font-family: MyriadPro;
}

#main-right .btn-send{
	font-family: Arial;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	color: white;
	padding: 5px 20px;
	cursor: pointer;
	background-color: #d8211a;
	float: right;
}

@media screen and (max-width: 992px) {
	#main-left{
		padding-right: 0;
		margin-bottom: 30px;
	}
	#main-right{
		padding-left: 0;
	}

}